<div class="row">
  <%= form_for @credential do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :username, class: "validate" %>
        <%= f.label :username %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.password_field :password, class: "validate" %>
        <%= f.label :password %>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <%= f.button 'Save Credentials' %>
      </div>
    </div>
  <% end %>
</div>
